<h2>Search Results</h2>

<table class='table table-hover'>
  <tbody>
    <% if @games.empty? && @characters.empty? %>
    <tr>
      <td>
        Enter search terms to find matching Games or Characters on the Move List app.
      </td>
    </tr>
    <% end %>
    <% if @games.present? %>
      <% @games.each do |game| %>
        <tr>
          <td>
            Game:
            <%= link_to game.highlight.title[0].html_safe,
              game_characters_path(game._id) %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if @characters.present? %>
      <% @characters.each do |character| %>
        <tr>
          <td>
            Character:
            <%= link_to character.highlight.name[0].html_safe,
              character_moves_path(character._id) %>
          </td>
          <td>
            Game:
            <% game = Game.find_by id: character.game_id %>
            <%= link_to game.title, game_characters_path(game) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to ' Back', games_path,
  class: "fa fa-arrow-circle-left btn btn-xs btn-primary" %>
