<tr>
	<td><%= move.name %></td>
	<td><%= move.input %></td>
	<% if current_user %>	
	<td><%= link_to 'Edit', edit_move_path(move) %> </td>
	<td><%= link_to 'Destroy', move_path(move),
        	method: :delete,
        	data: { confirm: 'Are you sure?' } %>	
	</td>
	<% end %>
</tr>
<br>
