<p>
	<strong>Character:</strong>
	<%= @character.name %>
</p>

<h2>Moves</h2>
<%= render @moves %>
<% if current_user %>
<%= link_to 'New move', new_character_move_path %>
<% end %>

<%= link_to 'Back', game_characters_path(@character.game_id) %>
