<div class='row'>
 	<p class='col-md-5 col-xs-7'>
 		<%= link_to "#{game.title}", game_characters_path(game) %>
 	</p>
 	<% if current_user %>
 	<p class='col-md-3 col-xs-5'>
 		<%= link_to ' Edit', edit_game_path(game),
 			class: "fa fa-pencil-square btn btn-xs btn-primary" %>
 		<%= link_to ' Destroy', game_path(game),
 			method: :delete,
         	data: { confirm: 'Are you sure?' },
         	class: "fa fa-trash btn btn-xs btn-danger"%>
 	</p>
 	<% end %>
</div>
