<h2>About</h2>
<p class='lead'>This is the Move List app for the forgetful fighting game ethusiast.
	This app is especially helpful for the old school games that don't have
 	built in move lists! Or for the folks that don't like to pause while
 	looking up a move.
</p>
