<h2>Help</h2>
<p class='lead'>This Move List app uses the following conventions when describing motion:
<br>	F = Forward
<br>	B = Back
<br>	U = Up
<br>	D = Down
<br>	FD = Forward Diagonal Down
<br>	BD = Back Diagonal Down
<br>	QC = Quarter Circle
<br>	HC = Half Circle
<br>	360 = Full circle motion startin from forward moving clockwise
<br>So when you see QCF it means Quarter Circle Forward.
<br>For buttons to press this app uses general terms like, punch, kick, slash,
 unless the game calls for a specific button to press (like A~D for SNK games).
</p>