<div class='row'>
	<p class='col-md-5 col-xs-7'>
		<%= link_to "#{character.name}",character_moves_path(character) %>
	</p>
	<% if current_user %>
	<p class='col-md-3 col-xs-5'>
		<%= link_to 'Edit', edit_character_path(character),
			class: "glyphicon glyphicon-edit btn btn-xs btn-primary" %>
		<%= link_to 'Destroy', character_path(character),
        	method: :delete,
        	data: { confirm: 'Are you sure?' },
        	class: "glyphicon glyphicon-trash btn btn-xs btn-danger"%>
	</p>
	<% end %>
</div>
