<tr>
	<td><%= link_to "#{character.name}", character_moves_path(character) %></td>
	<% if current_user %>
	<td><%= link_to 'Edit', edit_character_path(character) %></td>
	<td><%= link_to 'Destroy', character_path(character),
        	method: :delete,
        	data: { confirm: 'Are you sure?' } %>	
	</td>
	<% end %>
</tr>
<br>
