<h2><%= @game.title%> Characters</h2>
<%= render @characters %>

<% if current_user %>
<%= link_to ' New Character', new_game_character_path,
	class: "fa fa-plus-circle btn btn-xs btn-primary" %>
<% end %>

<p></p>
<p>
	<%= link_to ' Back', games_path,
	class: "fa fa-arrow-circle-left btn btn-xs btn-primary" %>
</p>