<p>
	<strong>Title:</strong>
	<%= @game.title %>
</p>

<h2>Characters</h2>
<%= render @characters %>
<% if current_user %>
<%= link_to 'New character', new_game_character_path %>
<% end %>

<%= link_to 'Back', games_path %>
